{% extends 'base.html' %}
{% include 'header.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h2>Manage <b>objects</b>
                    <button type="button"
                            class="btn btn-success float-right"
                            data-toggle="modal"
                            data-target="#add_attribute">
                        Add attribute
                    </button>

                    <button type="button"
                            class="btn btn-success float-right"
                            data-toggle="modal"
                            data-target="#mymodal">
                        Add new object
                    </button>
                </h2>

                {% include 'alert_error.html' %}

                <table class="table table-hover table-dark">
                    <tr>
                        <th>Name</th>
                    {% for class in param_classes %}
                        <th>{{class}}</th>
                    {% endfor %}
                    </tr>
                   {% for object, params in objects.items() %}
                    <tr>
                        <td>{{object}}</td>
                        {% for param in params %}
                        <td>{{param}}</td>
                        {% endfor %}
                        <td>
                            <a href="/kb/{{class_idtf}}/update"
                               class="btn btn-warning btn-xs" data-toggle="modal"
                               data-target="#modaledit{{object}}">
                                Edit
                            </a>
                            <a href="/kb/{{class_idtf}}/delete/{{object}}"
                               class="btn btn-danger btn-xs"
                               onclick="return confirm('Are You Sure To Delete ?')">
                                Delete
                            </a>
                        </td>
                    </tr>

<div id="modaledit{{object}}" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Update object</h4>
         </div>
         <div class="modal-body">
            <form action="/kb/{{class_idtf}}/update/{{object}}" method="POST">
               {% for class in param_classes %}
               <div class="form-group">
                  <label>{{class}}:</label>
                  <input type="text" class="form-control" name={{class}}>
               </div>
               {% endfor %}
               <div class="form-group">
                  <button class="btn btn-primary" type="submit">Update</button>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
                    {% endfor %}
                </table>
            </div>

<div id="mymodal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Add object</h4>
         </div>
         <div class="modal-body">
            <form action="/kb/{{class_idtf}}/insert" method="POST">
               <div class="form-group">
                  <label>Name:</label>
                  <input type="text" class="form-control" name="name" required="1">
               </div>
               {% for class in param_classes %}
               <div class="form-group">
                  <label>{{class}}</label>
                  <input type="text" class="form-control" name={{class}} required="1">
               </div>
               {% endfor %}
               <div class="form-group">
                  <button class="btn btn-primary" type="submit">Add</button>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>

<div id="add_attribute" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Add attribute</h4>
         </div>
         <div class="modal-body">
            <form action="/kb/{{class_idtf}}/add_attribute" method="POST">
               <div class="form-group">
                  <label>Attribute:</label>
                  <input type="text" class="form-control" name="attribute" required="1">
               </div>
               <div class="form-group">
                  <button class="btn btn-primary" type="submit">Add</button>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>

        </div>
    </div>
</div>


{% endblock %}