{% extends 'base.html' %}
{% include 'header.html' %}

{% block body %}

{% include 'alert_error.html' %}

<form method="post">
    <div class="form-group">
        <h3><label for="content">Input rdf-text</label></h3>
        <textarea name="content" placeholder="Enter" rows="14"
                  class="form-control" id="content">{{ request.form['content'] }}</textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<form method="POST" enctype="multipart/form-data">
    <h3><label for="content">Or upload rdf-file (formats: .rdf, .owl, .xml)</label></h3>
    <input type="file" name="file" class="btn btn-primary" accept=".xml, .owl, .rdf">

    <div class="form-group" style="padding-top: 10px">
        <button type="submit" class="btn btn-primary">Upload</button>
    </div>
</form>
{% endblock %}
