{% extends 'base.html' %}
{% include 'header.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h2>Manage <b>objects</b>
                    <button type="button"
                            class="btn btn-success float-right mr-2"
                            data-toggle="modal"
                            data-target="#add_attribute">
                        Add attribute
                    </button>
                    <button type="button"
                            class="btn btn-success float-right mr-2"
                            data-toggle="modal"
                            data-target="#add_relation">
                        Add relation
                    </button>
                    <button type="button"
                            class="btn btn-success float-right mr-2"
                            data-toggle="modal"
                            data-target="#create">
                        Add object
                    </button>
                </h2>

                {% include 'alert_error.html' %}

                <table class="table table-hover table-dark">
                    <tr>
                        <th>Name</th>
                    {% for class in param_classes %}
                        <th>{{class.split("#")[1].replace("_", " ")}}</th>
                    {% endfor %}
                    {% for relation in relations %}
                        <th>{{relation.split("#")[1].replace("_", " ")}}</th>
                    {% endfor %}
                    </tr>
                   {% for object, attributes in objects.items() %}
                    <tr>
                        <td>{{object.split("#")[1].replace("_", " ")}}</td>
                        {% for param in attributes["params"] %}
                        <td>{{param.split("#")[1].replace("_", " ")}}</td>
                        {% endfor %}
                        {% for subjects in attributes["subjects"] %}
                        <td>{{subjects}}</td>
                        {% endfor %}
                        <td>
                            <a href="/kb/update?struct_id={{struct_id}}&class_idtf={{class_idtf}}"
                               class="btn btn-warning btn-xs" data-toggle="modal"
                               data-target="#update_{{object}}">
                                Edit
                            </a>
                            <a href="/kb/delete/{{object}}?struct_id={{struct_id}}&class_idtf={{class_idtf}}"
                               class="btn btn-danger btn-xs"
                               onclick="return confirm('Are You Sure To Delete ?')">
                                Delete
                            </a>
                        </td>
                    </tr>

<div id="update_{{object}}" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Update object</h4>
         </div>
         <div class="modal-body">
            <form action="/kb/update/{{object}}?struct_id={{struct_id}}&class_idtf={{class_idtf}}" method="POST">
               {% for class in param_classes %}
               <div class="form-group">
                  <label>{{class}}:</label>
                  <input type="text" class="form-control" name={{class}}>
               </div>
               {% endfor %}
               {% for relation in relations %}
               <div class="form-group">
                  <label>{{relation}}:</label>
                  <input type="text" class="form-control" name={{relation}}>
               </div>
               {% endfor %}
               <div class="form-group">
                  <button class="btn btn-primary" type="submit">Update</button>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
                    {% endfor %}
                </table>
            </div>

<div id="create" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Add object</h4>
         </div>
         <div class="modal-body">
            <form action="/kb/insert?struct_id={{struct_id}}&class_idtf={{class_idtf}}" method="POST">
               <div class="form-group">
                  <label>Name:</label>
                  <input type="text" class="form-control" name="name" required="1">
               </div>
               {% for class in param_classes %}
               <div class="form-group">
                  <label>{{class}}:</label>
                  <input type="text" class="form-control" name={{class}} required="1">
               </div>
               {% endfor %}
               {% for relation in relations %}
               <div class="form-group">
                  <label>{{relation}}:</label>
                  <input type="text" class="form-control" name={{relation}}>
               </div>
               {% endfor %}
               <div class="form-group">
                  <button class="btn btn-primary" type="submit">Add</button>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>

<div id="add_attribute" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Add attribute</h4>
         </div>
         <div class="modal-body">
            <form action="/kb/add_attribute?struct_id={{struct_id}}&class_idtf={{class_idtf}}" method="POST">
               <div class="form-group">
                  <label>Attribute:</label>
                  <input type="text" class="form-control" name="attribute" required="1">
               </div>
               <div class="form-group">
                  <button class="btn btn-primary" type="submit">Add</button>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>

<div id="add_relation" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h4 class="modal-title">Add relation</h4>
         </div>
         <div class="modal-body">
            <form action="/kb/add_relation?struct_id={{struct_id}}&class_idtf={{class_idtf}}" method="POST">
               <div class="form-group">
                  <label>Relation:</label>
                  <input type="text" class="form-control" name="relation" required="1">
               </div>
               <div class="form-group">
                  <button class="btn btn-primary" type="submit">Add</button>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>

        </div>
    </div>
</div>


{% endblock %}