{% extends 'base.html' %}
{% include 'header.html' %}

{% include 'create_object.html' %}
{% include 'add_attribute.html' %}
{% include 'add_object_property.html' %}
{% include 'add_data_property.html' %}

{% block body %}

<div style="padding-top: 10px" align="justify">
    <h4>
        <a href="{{url}}/kb/classes/{{struct_id}}">Choose another ontology class</a>
    </h4>
</div>

<div class="container" style="padding-top: 15px">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h2>Manage <b>objects</b>
                    <button type="button"
                            class="btn btn-success float-right mr-2"
                            data-toggle="modal"
                            data-target="#add_data_property">
                        Add data property
                    </button>
                    <button type="button"
                            class="btn btn-success float-right mr-2"
                            data-toggle="modal"
                            data-target="#add_object_property">
                        Add object property
                    </button>
                    <button type="button"
                            class="btn btn-success float-right mr-2"
                            data-toggle="modal"
                            data-target="#create">
                        Add object
                    </button>
                </h2>

                {% include 'alert_error.html' %}

                <table class="table table-hover table-dark">
                    <tr>
                        <th>Name</th>
                        {% for class in param_classes %}
                            <th>{{class}}</th>
                        {% endfor %}
                        {% for property in object_properties %}
                            <th>{{property}}</th>
                        {% endfor %}
                        {% for property in data_properties %}
                            <th>{{property}}</th>
                        {% endfor %}
                    </tr>
                   {% for object, attributes in objects.items() %}
                    <tr>
                        <td>{{object}}</td>
                        {% for param in attributes["params"] %}
                            <td>{{param}}</td>
                        {% endfor %}
                        {% for subjects in attributes["subjects"] %}
                            <td>{{subjects}}</td>
                        {% endfor %}
                        <td>
                            <a href="/kb/update/{{object}}?struct_id={{struct_id}}&class_idtf={{class_idtf}}"
                               class="btn btn-warning btn-xs" data-toggle="modal"
                               data-target="#update_object">
                                Edit
                            </a>
                            <a href="/kb/delete/{{object}}?struct_id={{struct_id}}&class_idtf={{class_idtf}}"
                               class="btn btn-danger btn-xs"
                               onclick="return confirm('Are You Sure To Delete ?')">
                                Delete
                            </a>
                        </td>
                    </tr>
                    {% include 'update_object.html' %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}