{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} -- {% endblock %}</h1>

<form method="get">
    <table id="data" class="table table-bordered">
        <thead>
        <tr>
            <th>--</th>
            <th>--</th>
            <th>--</th>
            <th>--</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
        </tr>
        </tbody>
    </table>
</form>
{% endblock %}
